/* ================= Layout ================= */

/* Variáveis */
:root {
  --azulEscuro: #21252e;
  --amarelo: #decc63;
  --preto: #0c0b0b;
  --cinzaclaro: #898a89;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  margin: 0 auto;
}

/* Botão */
.btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--azulEscuro);
  padding: 10px 40px;
  color: beige;
  border-radius: 25px;
  border: 2px solid var(--cinzaclaro);
}


/* Fim - Layout <<<<<<<<<<<<<<<<<<<<<<<<< */


/* ================= Mobile / Smartphone ================= */

header {
  height: 65px;
  background-color: var(--azulEscuro);
}

#logo img {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-left: 30px;
  border-radius: 50%;
}

#check {
  display: none;
}

label {
  color: var(--amarelo);
  font-size: 3rem;
  position: fixed;
  right: 20px;
}

/* Menu */
nav ul {
  height: 100vh;
  background-color: var(--azulEscuro);
  position: fixed;
  top: 65px;
  right: -65%;
  width: 65%;
  transition: all 0.5s;
}

/* Ação do menu */
#check:checked~ul {
  right: 0;
}

nav ul li {
  list-style: none;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--amarelo);
}

nav ul li a {
  text-decoration: none;
  color: var(--amarelo);
}

/* ================= Principal ================= */

main {
  height: 50vh;
  background: url(img/barber-shop-5212059_1920.jpg) center/cover;
}

main .container {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: rgb(214, 214, 79);
  font-family: "koulen", sans-serif;
  text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

main h2 {
  color: rgb(230, 229, 203);
  font-size: 1.90rem;
  font-weight: 900;
  text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10%;
}


/*Destaque*/
#destaque {
  padding: 40px 10px;
  background: url(./img/ultima.jpg );
  background-size: cover;
  background-position: center;

}

#destaque .container {

  flex-direction: column;
}

#hero {
  text-align: center;

}

#hero img {
  width: 300px;
  height: 400px;
  margin-bottom: 10px;
}

#hero-text h2 {
  margin-bottom: 15px;
  color: aliceblue;
}

#hero-text p {
  color: aliceblue;

}

.topic {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.topics p {
  margin-left: 15px;
  color: aliceblue;
}


/*Onepage*/

#onepage .container {
  text-align: center;
  padding: 40px 10px;
  align-items: center;
  flex-direction: column;
  background-color: #0f1127;

}

#onepage h2 {
  margin-top: 30px;
  height: 60px;
  color: var(--amarelo);
  font-size: 2REM;

}

#onepage p {

  font-size: 1.5REM;
  height: 280px;
  color: rgb(255, 255, 255);
}

#video iframe {
  width: 350px;
  height: 200px;
}

/*Preços*/

#preços {
  padding: 60px 20px;
  background: url(./img/ultima.jpg );
  background-size: cover;
  background-position: center;
  color: aliceblue;
  font-size: 1rem;
  height: 300px;

}

.btnn {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--azulEscuro);
  padding: 10px 40px;
  color: beige;
  border-radius: 25px;
  border: 2px solid var(--cinzaclaro);

}


#preços .container {
  text-align: center;

}

#preços h3 {
  height: 50px;
  font-size: 2rem;
  color: var(--amarelo);



}

#preços p {
  height: 120px;
}

.qrcode {

  display: none;

}

/* Cartão */
.btn3 {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--preto);
  padding: 10px 40px;
  color: rgb(229, 255, 0);
  border-radius: 25px;
  border: 2px solid var(--cinzaclaro);
}

#cortes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #0f1127;
  padding: 30px 20px;
}


#cortes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;

}

#cortes img {
  width: 220px;
  height: auto;
  border-radius: 10px;
  margin: 30px 10px;
}

#cortes p {
  margin: 20px;
}

/* ===== RODAPÉ ===== */
address {
  padding: 30px 10px 15px 20px;
  background-color: var(--azulEscuro);
  color: #ffffff;
}


address .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#contato,
#endereco,
#googleMaps {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: ;
}


#contato a,
#endereco a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fffbfb;
}


address img {
  width: 36px;
  height: 36px;
  padding-top: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#iconelocal {
  display: none;
}


#googleMaps iframe {
  display: none;
}

#social img {
  width: 50px;
  height: 50px;
}


/*  FOOTER  */
footer {
  background-color: darkgrey;
  color: #000000;
  padding: 30px 10px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}




#topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#topo img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}





/* ================= Smartphone Landscape ================= */
@media (min-width: 566px) {
  .container {
    max-width: 570px;
  }


  /*Destaque*/
  #destaque {
    padding: 50px 0px;
  }

  #destaque .container {
    flex-direction: row;
    align-items: center;
  }


  #hero {
    text-align: left;
  }

  #hero img {
    width: 200px;
    height: 250px;
    margin: 0px 50px 0px 0px;
  }

  /*Onepage*/

  #onepage {

    align-items: center;
    padding: 50px 10px;
    background-color: #0f1127;

  }

  #video iframe {
    width: 560px;
    height: 315px;
  }

  .ip {
    display: flex;
    flex-direction: row
  }

 /*  RODAPÉ  */
    address {
        padding: 30px 10px 15px 20px;
        background-color: var(--azulEscuro);
        color: #ffffff;
    }


    address .container {
        
    flex-direction: column;

    }


    #contato,
    #endereco,
    #googleMaps {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }


    #contato a,
    #endereco a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
    }


    address img {
        width: 36px;
        height: 36px;
        padding-top: 2px;
    }


    #contato p,
    #endereco p {
        margin: 4px 0;
    }


    #googleMaps iframe {
        border-radius: 8px;
        width: 300px;
        height: 200px;
    
    }

    /* FOOTER (parte cinza) */
    footer {
        background-color: darkgrey;
        color: #062206;
        padding: 30px 20px;
    }

    footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }


}

/* ================= Tablet Portrait ================= */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  nav ul {
    width: 40%;
    right: -40%;
  }

  main {
    height: 75vh;
  }

  main h1 {
    font-size: 2.90rem;
  }

  main h2 {
    font-size: 2.90rem;
    margin-bottom: 4.90rem;
  }

  section h2 {
    font-size: 2.5rem;

  }

  section p {
    font-size: 1.60rem;
  }

  /*onepage*/

  #onepage {
    background-color: #0f1127;
    align-items: center;
    display: flex;


  }

  #onepage h2 {
    font-size: 3.9rem;
    padding: 40px 0px;

  }

  #onepage p {
    margin-top: 80px;
    font-size: 2.9rem;
    margin-bottom: 200px;
  }

  #video iframe {

    width: 550px;
    height: 300px;
  }

}

/* ================= Tablet Landscape ================= */
@media (min-width: 992px) {

  .container {
    max-width: 960px;

  }

  main h1 {
    font-size: 5.90rem;
  }

  main h2 {
    font-size: 4.90rem;
    margin-bottom: 6.90rem;
  }

  #onepage .container {
    text-align: center;
    align-items: center;
  }

  /*cartoes*/
  #cortes .container {
    flex-direction: row;

  }

  .card {
    margin-right: 25px;
  }

}


/* ================= Desktop / Notebook ================= */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    justify-content: space-between;
  }

  header {
    height: 100px;
  }

  #logo img {
    width: 194px;
    height: 194px;
  }

  label {
    display: none;
  }

  nav ul {
    position: static;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 20px;
  }

  nav ul li {
    border: 0;
    float: left;
  }

  nav ul li a:hover {
    color: var(--azulEscuro);
  }

  main {
    height: 85vh;
  }

  /*Destaque*/
  #destaque {

    background-attachment: fixed;
  }

  #hero img {
    width: 400px;
    height: 470px;
  }

  /*Preços*/
  #preços {
    background-attachment: fixed;
  }

  /*onepage*/

  #onepage .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;

  }


}


/* ================= Full HD / 4K ================= */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}